<div class="dashboard-container">
    <div class="flex-title">
        <h2>Dashboard</h2>
        <button mat-raised-button color="primary" (click)="navigateToAppointments()">View Appointments</button>
    </div>

    <div class="stats-container">
        <div (click)="navigateToAppointments()" class="stat">
            <h3>Total Appointments</h3>
            <p>{{ upcomingAppointments.length + completedAppointments.length }}</p>
        </div>
        <div (click)="navigateToAppointments()" class="stat">
            <h3>Upcoming Appointments</h3>
            <p>{{ upcomingAppointments.length }}</p>
            <p *ngIf="upcomingAppointments.length === 0">No upcoming appointments</p>
        </div>
        <div (click)="navigateToAppointments()" class="stat">
            <h3>Completed Appointments</h3>
            <p>{{ completedAppointments.length }}</p>
            <p *ngIf="completedAppointments.length === 0">No completed appointments</p>
        </div>
    </div>

    <div class="charts-flex">
        <div class="chart-container">
            <canvas baseChart [data]="pieChartData" [type]="'pie'" [options]="pieChartOptions"></canvas>
        </div>

        <div class="chart-container">
            <canvas baseChart [data]="barChartData" [type]="'bar'" [options]="barChartOptions"></canvas>
        </div>
    </div>
</div>
